@using HanksThings.Models
@{
	ViewBag.Title = "Stocks";
}

@Styles.Render("~/Content/css/morris")


<h2>Stocks</h2>

<div class="container">
	<div class="row">
		<div class="col-sm-2">
			Recent List
		</div>
		<div class="col-sm-10">
			Stock Charts
			<div id="graph"></div>
		</div>
	</div>
</div>

<div id="priceChart" style="width: 600px; height: 400px;"></div>
<div id="stochChart" style="width: 600px; height: 200px;"></div>

@section Scripts {
	@Scripts.Render("~/bundles/morris")
	<script>
		$(document).ready(function () {
			$.ajax({
				url: "/Chart/Price/GLUU?from=6-1-2015&to=9-15-2015",
				success: function (result, status) {
					$("#priceChart").html(result);
					//$("#priceChartStatus").html(status);
				},
				error: function (xhr, status, error) {
					$("#priceChart").html(status + " : " + error);
				}
			});
			$.ajax({
				url: "/Chart/Stochastic/GLUU?from=6-1-2015&to=9-15-2015",
				success: function (result, status) {
					$("#stochChart").html(result);
					//$("#stochChartStatus").html(status);
				},
				error: function (xhr, status, error) {
					$("#priceChart").html(status + " : " + error);
				}
			});
		});
	</script>
}


