
@{
	ViewBag.Title = "Index";
}

@Styles.Render("~/Content/css/morris")

<h2>Stocks</h2>

@Html.ActionLink("GLUU", "Details", "Stocks", new { symbol="GLUU" }, null)

@*<a id="gluuButton" href="#">GLUU</a>
	<div id="gluuStoch" style="width: 600px; height: 400px;"></div>
	<div id="status"></div>

	@section Scripts {
		@Scripts.Render("~/bundles/morris")
		<script>
			$(document).ready(function () {
				$("#gluuButton").click(function () {
					$.ajax({
						url: "/Chart/Stochastic/GLUU?from=6-1-2015&to=9-15-2015",
						success: function (result, status) {
							$("#gluuStoch").html(result);
							$("#status").html(status);
						},
						error: function (xhr, status, error) {
							$("#status").html(status + " : " + error);
						}
					});
				});
			});
		</script>
	}*@
